<%= form_for @pet do |f| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :species %>
    <%= f.text_field :species %>

    <%= f.label :nickname %>
    <%= f.text_field :nickname %>

    <%= f.label :likes %>
    <%= f.collection_select :likes %>

    <%= f.label :dislikes %>
    <%= f.text_field :dislikes %>

    <%= f.submit %>
<% end %>
