<%= form_with(model: rendezvou, local: true) do |form| %>
  <% if rendezvou.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rendezvou.errors.count, "error") %> prohibited this rendezvou from being saved:</h2>

      <ul>
        <% rendezvou.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :activity_id %>
    <%= form.number_field :activity_id %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.number_field :location_id %>
  </div>

  <div class="field">
    <%= form.label :pet_id %>
    <%= form.number_field :pet_id %>
  </div>

  <div class="field">
    <%= form.label :single_pet_id %>
    <%= form.number_field :single_pet_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
