<p id="notice"><%= notice %></p>

<p>
  <strong>Img url:</strong>
  <%= @location.img_url %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @location.bio %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
